.navbar {
    background-color: var(--color-bg) !important;
    padding: 6px 4px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.inputBox {
    margin-right: auto;
    margin-left: 30px;
    width: 50%;
    max-width: 550px;
}

.searchInput {
    border-radius: 10px;
    background: var(--color-dark);
    border: none;
    color: var(--color-text-default);
}

.searchInput:focus {
    background: var(--color-dark);
    color: var(--color-text-default);
}

.userPic {
    border-radius: 50%;
    width: 35px;
}

.dropdownToggle {
    color: var(--color-text-semi-light);
    display: flex;
    align-items: center;
}

.dropdownToggle:hover,
.dropdownToggle:focus {
    color: var(--color-text-default);
}

.dropdownMenu {
    position: absolute !important;
}

.searchInput {
    border: 2px solid var(--color-border-default) !important;
    border-right: unset !important;
    padding-right: 0;
}

.clear {
    background: var(--color-dark) !important;
    min-width: unset;
    display: flex;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    border: 2px solid var(--color-border-default) !important;
    border-right: unset !important;
    border-left: unset !important;
}

.search {
    min-width: unset;
    background: var(--color-border-default) !important;
}

.search i,
.clear i {
    transition: .2s;
    margin-right: 0;
}

.clear:hover i,
.search:hover i {
    filter: brightness(75%);
}