.taskBox {
    opacity: 0;
    min-height: 130px;
    width: 310px;
    display: flex;
    flex-direction: column;
    border: 1px var(--color-border-default) solid;
    border-radius: 10px;
    padding: 12px 16px;
    position: absolute;
    cursor: pointer;
    transition: .2s;
}

.taskBox:hover {
    border-color: var(--color-light);
    box-shadow: 0 0px 10px 3px #3397cf2e;
}

.taskBox:hover .author,
.taskBox:hover .more {
    opacity: 1;
}

.mainContent {
    max-height: 350px;
    overflow: hidden;
    word-break: break-word;
    text-overflow: ellipsis;
}

.title,
.content {
    background: none;
    border: none;
    outline: none;
    color: var(--color-text-default);
    width: 100%;
    -webkit-box-orient: vertical;
    display: -webkit-box;
}

.title {
    font-size: large;
    font-weight: bold;
    margin-bottom: 5px;
    padding-right: .5rem;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.content {
    -webkit-line-clamp: 12;
}

.more {
    opacity: 0;
    border: none;
    background: none !important;
    box-shadow: none !important;
    border-radius: 50%;
    padding: 0;
    min-width: unset;
    width: 28px;
    height: 28px;
    position: absolute;
    top: 5px;
    right: 5px;
    align-items: center;
}

.more:hover {
    background: var(--color-dark) !important;
}

.more i {
    margin: 0;
}

.more::after {
    display: none;
}

.footer {
    margin-top: 25px;
    display: flex;
    width: 100%;
    align-items: end;
    justify-content: space-between;
    font-size: 14px;
    color: var(--color-text-semi-light);
}

.status {
    border: 1px solid var(--color-border-default);
    background: none !important;
    text-transform: capitalize;
    font-size: 14px;
    box-shadow: none !important;
}

.status.open {
    color: #CCCCCC !important;
}

.status.inprogress {
    color: #FF5656 !important;
}

.status.done {
    color: #82FF56 !important;
}

.status::after {
    display: none;
}

.status:hover {
    border-color: var(--color-light);
}

.author {
    transition: 0.2s;
    opacity: 0;
}

.avatar {
    width: 25px;
    border-radius: 50%;
    margin-left: 10px;
}

.statusItem {
    text-transform: capitalize;
}