.content {
    background: none;
    border: none;
    outline: none;
    color: var(--color-text-default);
    width: 100%;
    resize: none;
    overflow: hidden;
}

.content.editable {
    min-height: 80px;
}