.main {
    max-width: 1200px;
    width: 100%;
    min-height: 100vh;
    margin: auto;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body {
    display: flex;
    width: 100%;
    justify-content: center;
}

.taskBlock {
    background: var(--color-default);
    width: 43%;
    height: 511px;
    position: relative;
    display: flex;
    justify-content: center;
}

.logo {
    width: 80%;
    position: absolute;
    z-index: 2;
    margin-top: 12%;
}

.loginBlock {
    background: var(--color-bg);
    width: 55%;
    height: 570px;
    border: 5px var(--color-default) solid;
    border-radius: 0 360px 360px 0;
    margin-top: 6%;
    margin-left: -20%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    font-size: 55px;
    color: var(--color-light);
    font-weight: bold;
}

.subtitle {
    font-size: 20px;
    color: var(--color-text-default);
    margin-left: 0.2em;
}

.loginBtn {
    display: flex;
    align-items: center;
    margin-top: 50px;
    font-size: 23px;
    padding-right: 0.7em;
    border: 1px solid var(--color-border-default);
}

.loginBtn i {
    font-size: 30px;
    margin: 0;
    margin-right: 12px;
}