:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --color-default: #006aa6;
    --color-default-hover: #00588a;
    --color-dark: #13171c;
    --color-light: #3397cf;
    --color-bg: #222933;
    --color-text-default: #c9d1d9;
    --color-text-semi-light: rgba(255, 255, 255, .5);
    --color-border-default: #646464;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    background-color: var(--color-bg);
    color: var(--color-text-default);
    font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, 'PingFang TC', '黑體-繁', 'Heiti TC', '蘋果儷中黑', 'Apple LiGothic Medium', '微軟正黑體', 'Microsoft JhengHei', sans-serif !important;
}

a {
    color: inherit;
    text-decoration: none;
}

::placeholder {
    color: var(--color-text-semi-light) !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: var(--color-bg);
}

::-webkit-scrollbar-thumb {
    background: var(--color-dark);
    border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3d4959;
}

.dropdown-item:active {
    background: var(--color-default);
}

.form-control:focus {
    box-shadow: unset;
}

button i {
    margin-right: 7px;
}

.btn {
    color: var(--color-text-default) !important;
    min-width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-primary.disabled {
    background-color: var(--color-default);
}

.btn span {
    margin-right: auto;
}

.btn-primary {
    --bs-btn-color: var(--color-text-default);
    --bs-btn-bg: var(--color-default);
    --bs-btn-border-color: none;
    --bs-btn-hover-bg: var(--color-default-hover);
    --bs-btn-active-bg: var(--color-default-hover);
}

.modal {
    --bs-modal-color: #000;
}

.spinner-border {
    color: var(--color-default);
}

.dropdown-menu {
    --bs-dropdown-color: var(--color-text-default);
    --bs-dropdown-bg: var(--color-dark);
    --bs-dropdown-divider-bg: var(--color-border-default);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.dropdown-header {
    color: var(--color-text-semi-light);
}

.dropdown-item {
    color: var(--color-text-default);
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: var(--color-text-default);
    background-color: var(--color-default);
}

.dropdown-item i {
    margin-right: 10px;
}

.modal {
    --bs-modal-color: var(--color-text-default);
    --bs-modal-bg: var(--color-bg);
    --bs-modal-header-border-color: var(--color-border-default);
    --bs-modal-footer-border-color: var(--color-border-default);
}

.mark,
mark {
    padding: 0.1em;
    background-color: var(--color-light);
}

@keyframes typing {
    from {
        width: 0
    }
}